<div class="row">


  <div class="col-sm-8">
    <div class="jumbotron">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


          <div class="row">
            <div class="col-sm-12">

              <div><%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true,:class => "form-control"%></div>

              <div><%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true,:class => "form-control"%></div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              <% end %>

              <div><%= f.label :password %> <i>(lascia vuoto se non vuoi modificare)</i>
                <%= f.password_field :password, autocomplete: "off",:class => "form-control" %></div>

              <div><%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control" %></div>

              <div><%= f.label :current_password %> <i>(inserisci la passwors corrente per inserire le modifiche)</i>
                <%= f.password_field :current_password, autocomplete: "off",:class => "form-control" %></div>

              <br>
            </div>
            <style>
                #danger{
                    color: #CC0000 ;
                }
            </style>

            <h5 id="danger"><%= devise_error_messages! %></h5>
            <div class="row">
              <div class="col-sm-9"></div>
              <div class="col-sm-3">
                <%= f.submit "Salva", :class => "btn btn-primary btn-sm" %>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <h4>Cancella il mio Account</h4>

      <a href="mailto:modkstaff@gmail.com?Subject=Eliminazione account?body?Desidero cancellare l'account associato a <%= current_user.email %>" class="btn btn-sm btn-danger">Invia richiesta eliminazione</a>

    </div>

  </div>
</div>
</div>




