<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>

        <div class="alert alert-danger" role="alert">
          <h2><%= @order.errors.count %>
            errori impediscono il completamento dell'ordine:</h2>

        </div>
    <% end %>

    <div class="jumbotron">

    <div class="field">
      <%= f.label :name %><br>
         <%= f.text_field :name, size: 40, :value => current_user.name, :class => "form-control" %>
    </div>
      <br>
    <div class="field">
      <%= f.label :address %><br>
        <%= f.text_field :address, rows: 3, cols: 40, :class => "form-control" %>
    </div>
      <br>
    <div class="field">
      <%= f.hidden_field :email, :value => current_user.email%>
    </div>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>
    <div class="form-group">
      <%= f.label :pay_type %><br>
         <%= f.select :pay_type, Order::PAYMENT_TYPES,
                              prompt: 'Select a payment method', :class => "dropdown-toggle" %>
    </div>

      <style>
         #warning{
             color: #CC0000  ;
         }

      </style>

      <ul id="warning">
        <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>

    <div class="actions" align="right">
         <%= f.submit 'Conferma Ordine', :class =>"btn btn-danger"  %>
    </div>
    </div>
<% end %>