<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Ordini</li>
</ol>
<h2 align="center">Gestione Ordini</h2>
<div class="row">
  <div class="col-md-8">
    <p class="lead">Benvenuto nella pagina di consultazione degli ordini
    </p>
  </div>

</div>


<div class="container">
  <p class="lead">Ordini</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Indirizzo</th>
      <th>Email</th>
      <th>Tipo Pagamento</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.address %></td>
          <td><%= order.email %></td>
          <td><%= order.pay_type %></td>
          <td><%= link_to 'Show', order, :class => "btn btn-primary btn-xs" %></td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>

