<% if user_signed_in? %>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Store", store_index_path %></li>
      <li class="active"><%= @product.title %></li>
    </ol>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">Dettagli prodotto
        </p>
      </div>

    </div>
    <div class="container">
      <p class="lead">Prodotto</p>

      <div class="row">
        <div class="col-md-8">
          <div class="thumbnail">
          <div class="row">
              <div class="col-md-3">
                <br>
                <%= image_tag( @product.image_url, :class => "img-rounded img-responsive")%>
              </div>
              <div class="col-md-9">
                <div class="caption">
                  <h3>
                    <%= @product.title %>
                  </h3>
                  <p>
                    <strong>Descrizione:</strong>
                    <%= @product.description %>
                  </p>
                  <p>
                    <strong>Prezzo:</strong>
                    <%= number_to_currency(@product.price) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>




    </div>
<% else %>
    <script type="text/javascript">
        window.location.href = "../errors/404"  // put your correct path in a string here
    </script>
<% end %>
