<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<!--CONTROLLA SE L'UTENTE È LOGGATO-->
<% if user_signed_in? %>


    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path%></li>
      <li class="active">Store</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <% @products.each do |product| %>
            <div class="jumbotron">
              <div class="media">
                <div class="row">
                  <div class="col-md-3">
                    <a class="media-left media-middle" href="#">
                      <!--image_tag GENERA UN TAMPLATE HTML <img> usando l'argomento come sorgente dell'immagine-->
                      <%= image_tag(product.image_url, :class => "img-rounded img-responsive") %>
                    </a>
                  </div>
                  <div class="col-md-9">
                    <div class="media-body">
                      <h3><%= product.title %></h3>
                      <!--sanitize CI PERMETTE DI AGGIUNGERE FORMATTAZIONI HTML IN TUTTA SICUREZZA  PER RENDERE DESCRIZIONI INTERESSANTI-->
                      <%= truncate(strip_tags(product.description), :length => 200) %>
                      <div >
                        <!--METODO CHE PERMETTE DI FORMATTARE IL PREZZO COME VALUTA-->
                        <h4><span class="label label-default"><%= number_to_currency(product.price) %></span></h4>
                        <!--AGGIUNTA DI UN PULSANTE PER POTER AGGIUNGERE UN PRODOTTO AL CARRELLO-->
                        <!--CON IL PARAMETRO REMOTE INVIEREMO UNA RICHIESTA AJAX-->
                        <div>
                          <div class="row">
                            <div class="col-md-8" align="right">
                              </div>
                            <div class="col-md-4" align="left">
                              <%= button_to 'Add to Cart', line_items_path(product_id: product), class:"btn btn-primary", remote: true %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>

    </div>

<% else %>
    <!--AVVISO CHE VI È NECESSITÀ DI LOGGARSI-->
    <%= render :partial=>"shared/noauth"%>
<%end%>