<!DOCTYPE html>
<html>
<head>

  <!--GENERA IL LINK AL FOGLIO DI STILE DELL'APPLICAZIONE E SPECIFICA UNA OPZIONE CHE CONSENTE I TURBOLINK-->
    <%= render :partial => "shared/header"%>
</head>
<body class="<%= controller.controller_name %>">
<%= render :partial => "shared/navbar"%>
<div class="container">
  <% unless notice.nil? %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% unless alert.nil? %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<div class="container">
  <%= yield%>
</div>


<div>
  <footer class="footer"><p align="center">EuropaStore - lo sport a portata di click</p></footer>
</div>


</body>
</html>
